/Interpolasi Newton.html
/Interpolasi.html
/Jeremy Natanael_312410011_Newton Raphson.docx
/Jeremy Natanael_312410011_Newton Raphson.pdf
/Lagrange.html
/Newton-Raphson.html
/Pengantar Metode Numerik.docx